.Uploader .lander {
	padding: 80px 0;
	text-align: center;
}

.Uploader .lander h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

.Uploader .lander p {
	color: #999;
}

.Uploader div form {
    padding-bottom: 15px;
    border-radius: 2px 2px;
    width: 650px;
    height: 440px;
    border:1px solid black;
}

.Uploader2 div form {
    padding-bottom: 15px;
    border-radius: 2px 2px;
    width: 650px;
    height: 360px;
    border:1px solid black;
}
.middleDiv {
    position : absolute;    
    width    : 260px;
    height   : 200px;
    left     : 50%;
    top      : 50%;
    margin-left : -20%; /* half of the width  */
    margin-top  : -10%; /* half of the height */
}

.bgg{
    background:black url("flash.gif") no-repeat fixed center;
    background-size: 500px 500px;
}
.middleDiv2 {
    position : absolute;    
    width    : 260px;
    height   : 200px;
    left     : 50%;
    top      : 50%;
    
}

.Dropdown-root {
    width:200px;
}
.loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  