  
  #main {
    width: 600px;
    margin: 0 auto;
    text-align: left;
  }
  
  
  .form-inline .form-control {
    width: 50%;
    margin-left: 80px;
  }
  
  li {
  background: #cce5ff;
  margin: 5px;
  list-style: none;
}

  .done {
    color: red;
    text-decoration: line-through;
  }
  
  .undone {
    color: #514454;

  }
  
  .icon {
    margin: 6px 10px 6px 0;
  }
  
  .noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}