  
  #main {
    width: 600px;
    margin: 0 auto;
    text-align: left;
  }
  
  
  .form-inline .form-control {
    width: 50%;
    margin-left: 80px;
  }
  
  .done {
    color: red;
    text-decoration: line-through;
  }
  
  .undone {
    color: #514454;

  }
  
  .icon {
    margin: 6px 10px 6px 0;
  }
  