.mainwrap
{
padding: 1em;
}
.title-cover {
    padding: 2em;
    min-height: 6em;
    color: #ffffff;
    margin-bottom: 1em;
}

.footer-container {
    
    width: 100%;
    padding-bottom: .5em;
    text-align: center;
    clear: both;
}


.dash-landing-icon-wrap {
    display: inline-flex;
    text-align: center;
    /*width: 99%;*/
    margin: 0 auto;
    /*margin-bottom: 2em;*/
}



a {
  color: #4e4a46;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #c94e50;
}

main {
  height: 100%;
  padding: 3em 2em;
  text-align: center;
  background: #b4bad2;
  overflow: auto;
}
h1 {
  font-weight: 800;
  font-size: 3.75em;
}
.description {
  max-width: 20em;
  margin: 1.2em auto 1em;
  line-height: 1.3em;
  font-weight: 400;
}
